* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #e9ecef;
    margin: 0 !important;
}

.body-container {
    margin: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    min-height: 500px;
}

table {
    width: 100% !important;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
    padding: 11px 10px;
    text-align: center;
}

th {
    background-color: rgba(19, 31, 107, 0.37) !important;
    border-bottom: 1px solid #aaaec3;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
    vertical-align: middle;
}

table>tbody>tr>th,
table>tfoot>tr>th,
table>tbody>tr>td,
table>tfoot>tr>td {
    vertical-align: top;
}

.fs-button {
    font-size: 1em;
}

.fs-button-13 {
    font-size: 1.3em;
}

.no-decorate {
    text-decoration: none !important;
    color: black !important;
}

.no-decorate-white {
    text-decoration: none !important;
    color: white !important;
}

.no-decorate-active {
    text-decoration: none !important;
    color: #bf9536!important;
    font-weight: bold;
}

.btn {
    margin: 5px !important;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
}

.btn-blue {
    background-color: #17a2b8;
    border-color: #17a2b8;
    border: 1px solid transparent;
    color: white !important;
    cursor: pointer !important;
}

.btn-blue-dark {
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    color: white !important;
    cursor: pointer !important;
}

.btn-green {
    background-color: #28a745;
    border-color: #28a745;
    border: 1px solid transparent;
    color: white !important;
    cursor: pointer !important;
}

.btn-yellow {
    background-color: #ffc107;
    border-color: #ffc107;
    color: white !important;
    border: 1px solid transparent;
    cursor: pointer !important;
}

.btn-red {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white !important;
    border: 1px solid transparent;
    cursor: pointer !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

.hidden {
    display: none;
}

.d-inline {
    display: inline;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.w-100 {
    width: 100%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.input100 {
    border: 1px solid #646569;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    padding: 10px;
    min-width: 250px;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
}

.input100:focus {
    border: 1px solid #6699ff;
    box-shadow: 0 1px 1px rgba(102, 153, 255, 0.075) inset, 0 0 5px rgb(102 153 255 / 30%);
    outline: 0 none;
}

.input-invalid {
    border: 1px solid #ec1b2b;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgb(237 29 46 / 30%);
}

.m-bottom-3 {
    margin-bottom: 30px;
}

.m-right-2 {
    margin-right: 20px !important;
}

.bg-black {
    background-color: black;
    color: white;
}

.menu {
    padding: 20px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.display-none {
    display: none;
}

.text-warning {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.border-title {
    border-bottom: 1px solid #00000063;
}